
@media(max-width: 70.5rem){ /* 1128px / 16px = 70.5 */
    
    html {
        font-size: 60%;  /* 60/100 x 16 = 9.6px*/  
    }
    .bio .bio-info {
        display: block;
        padding: 4rem 2rem;
    }
    .interests{
        grid-template-columns: repeat(3, 27rem);
        grid-row-gap: 8rem;
        justify-content: center;
    }

    .interests-list:hover {
        transform: scale(1.07, 1);
    } 
}

@media(max-width: 52.6rem){ /* 842px / 16px = 52.6 */
    
    html {
        font-size: 52%;  /* 52/100 x 16 = 8.3px*/  
    }
    .interests{
        grid-template-columns: repeat(2, 35rem);
        gap: 7rem;
        justify-content: center;
    }

    .interests-list:hover {
        transform: scale(1.07, 1);
    } 
}

@media(max-width: 41.1rem){ /* 658px / 16px = 41.1 */
    
    html {
        font-size: 35%;  /* 45/100 x 16 = 7.2px*/  
    }
    /* .nav-bar {
        margin-bottom: var(--margin-bottom-lg);
    } */
    .bio .bio-info {
        display: block;
        text-align: justify;
        padding: 2rem 1rem;
        word-spacing: -1.2px;
    }
    .interests{
        grid-template-columns: 30rem;
        gap: 18rem;
        justify-content: center;
    }

    .interests-list:hover {
        transform: scale(1.07, 1);
    } 
}

@media(max-width: 23.8rem){ /* 381px / 16px = 23.8 */
    
    html {
        font-size: 38%;  /* 38/100 x 16 = 6.1px*/  
    }
    .nav-bar {
        margin-bottom: var(--margin-bottom-mdx);
    }
    .bio .bio-info {
        display: block;
        text-align: justify;
        padding: 2rem 1rem;
        word-spacing: -1.2px;

    }
    .interests{
        grid-template-columns: 30rem;
        gap: 18rem;
        justify-content: center;
    }

    .interests-list:hover {
        transform: scale(1.07, 1);
    } 
}