@media(max-width: 62.5rem){ /* 1000px / 16px = 62.5*/
    
    html {
        font-size: 60%;  /* 55/100 x 16 = 9.6px*/  
    }
    
    .interests{
        font-size: var(--font-size-md);
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 45rem 45rem;
        gap: 2rem;
        justify-content: center;
        margin-bottom: var(--margin-bottom-md);
}
    .grid-control {
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        .interest-img{
            align-self: stretch;
        }
        .interest-text {
            display: flex;
            text-align: center;
        }
    }
    .grid-control-2{
            display: flex;
            flex-direction: column;
            max-width: 35rem;
            align-items: stretch;
            .interest-text {
                display: flex;
                text-align: center;
            }
    }



}

@media(max-width: 43.2rem){ /* 691px / 16px = 43.2*/


    html {
        font-size: 55%;  /* 40/100 x 16 = 8.8px*/  
    }
    .interests{
    font-size: var(--font-size-md);
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-column-gap: 5rem;
    justify-content: center;
    margin-bottom: var(--margin-bottom-md); 
}
.grid-control {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    .interest-img{
        align-self: stretch;
    }
    .interest {   
            display: flex;
            flex-direction: column;
            max-width: 40rem;
            align-items: stretch;
                .interest-text {
                    display: flex;
                    text-align: center;
                }
            }
        }
.grid-control-2{
            display: flex;
            flex-direction: column;
            max-width: 40rem;
            align-items: stretch;
            .interest-text {
                display: flex;
                text-align: center;
            }
    }

}

@media(max-width: 35rem){ /* 560px / 16px = 37.5 */


    html {
        font-size: 50%;  /* 50/100 x 16 = 8px */  
    }
    .interests{
    font-size: var(--font-size-md);
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50rem ;
    grid-row-gap: 8rem;
    justify-content: center;
    margin-bottom: var(--margin-bottom-md); 
}
.grid-control {
    display: flex;
    flex-direction: column;
    max-width: 37rem;
    .interest-img{
        align-self: stretch;
    }
    .interest {   
            display: flex;
            flex-direction: column;
            max-width: 37rem;
            align-items: stretch;
                .interest-text {
                    display: flex;
                    text-align: center;
                }
            }
        }
.grid-control-2{
            display: flex;
            flex-direction: column;
            max-width: 37rem;
            align-items: stretch;
            .interest-text {
                display: flex;
                text-align: center;
            }
    }

}
