/*

------------------ TYPOGRAPHY ----------------
FONT SIZES
scaling factor = 1.25
1rem (base)/ 1.25rem / 1.56rem / 1.90rem / 2.44rem /  3.05rem / 3.82rem / 4.8rem/ 6rem / 7.5rem /

FONT WEIGHT
400/900

LINE HEIGHT
1.2/1.5

LETTER SPACING
0 / -1.90rem

WORD SPACING
0/ -1.2px

FONT FAMILY
Roboto

-------------------COLOURS--------------------
PRIMARY
Base: #800020 (Red Devil)
Tint: #e6ccd2
Shade: #4d0013

GRAY
Base: #a4adb0 (Gray Chateau)
Tint: #edefef
Shade: #313435

SECONDARY
Base: #DCD0FF (Fog)
Tint: #f5f1ff
Shade: #585366




*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--font-size-xxsm: 1.25rem;
--font-size-xsm: 1.56rem;
--font-size-sm: 1.90rem;
--font-size-md: 3.05rem;
--font-size-lg: 3.82rem;
--font-size-xlg: 4.8rem;
--font-size-xxlg: 6rem;
--font-size-xxxlg: 7.5rem;

--font-weight-light: 400;
--font-weight-medium:550;
--font-weight-heavy: 700;

--body-font-color: #313435;

--nav-background-color: #DCD0FF;
--nav-border: 0.5px solid #f5f1ff;
--link-primary-color: #800020;
--link-color-hover: #4d0013;
--link-background-color: #f5f1ff;

--shadow-color: #f5f1ff;

--margin-bottom-sm: 2rem;
--margin-bottom-sm: 5rem;
--margin-bottom-md:10rem;
--margin-bottom-lg: 20rem;

--paragraph-line-height: 1.7;
}

html {
    font-size: 62.5%;  /* custom font-size now 10px at 1rem */
}

body {
    font-family: Roboto;
    max-width: 1500px;
    margin: 0 auto;
    color: var(--body-font-color);
    padding: 0 1rem;

}

.nav-logo img{
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 5%;
    margin-bottom: 0;
    max-height: 100%;

}

.nav-bar {
    display: flex;
    background-color: var(--nav-background-color);
    font-size: var(--font-size-md);
    justify-content: space-around;
    align-items: center;
    border: var(--nav-border);
    max-height: 30vh;
    position: relative;
    margin-bottom: var(--margin-bottom-md);
    padding: 2.3rem;
    
    li, a {
        display: block;
        list-style: none;
        text-decoration: none;
        color: var(--link-primary-color);
        font-weight: var(--font-weight-light);
        transition: transform 0.7s ease-in-out;
    }
}

.nav-bar a:hover {
    color: var(--link-color-hover);
    transform: scale(1.1, 1);
    
}

h1 {
    font-size: var(--font-size-xxlg);
    text-align: center;
     margin-bottom: var(--margin-bottom-md);
    .heading-span {
        background-color: #DCD0FF;
        color: #800020;
        padding: 0 2%;
        border: var(--nav-border);
        border-radius: 2%;
    }
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5rem;
    margin-bottom: var(--margin-bottom-lg) ;
    
    .bio-img {
        max-width: 45%;
        width: 100%;
        border: solid 1.5rem var(--nav-background-color);
        
    }
    .bio-info { 
        display: inline-block;
        font-size: var(--font-size-md);
        padding: 1rem 1rem; 
        text-align: center;
        border: solid 0.5rem var(--nav-background-color);
        line-height: var(--paragraph-line-height);
    }
}

h2 {
    font-size: var(--font-size-lg);
    text-align: center;
     margin-bottom: var(--margin-bottom-sm);
     padding: 2rem;
}

.interests{
    font-size: var(--font-size-md);
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    gap: 3rem;
    justify-content: center;
    margin-bottom: var(--margin-bottom-lg);
}

.interests-list {
    display: flex;
    flex-direction: column;
    height: 34.72rem; /* fixed height by tallest flex item */
    box-shadow: 1rem -2rem 3rem #DCD0FF;
    transition: transform 2s ease-in-out;
}

.interests-list .interest-img {
        width: 80%;
        margin: 0 auto;
               
}
.interests-list .interest-text{
   margin: 0 auto;
   padding-top: 3rem;
    
}

.interest-extra-padding .interest-text{
    text-align: center;
}
.interests-list:hover {
    transform: scale(1.05, 1);
}
.footer-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-background-color);
    font-size: var(--font-size-md);
    justify-content: center;
    align-items: center;
    border: var(--nav-border);
    max-height: 64vh;
    position: relative;
    gap: 2rem;
    color: var(--body-font-color);
    padding-bottom: 2rem;
}

.footer-links li, a{
    display: flex;
    list-style: none;
    text-decoration: none;        
    color: var(--link-primary-color);
    font-weight: var(--font-weight-light);
    transition: transform 0.7s ease-in-out;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

.footer-links a:hover {
    color: var(--link-color-hover);
    transform: scale(1.1, 1);
}
